<div class="login container center m-3 p-3">
    <form action="/login" method="post">
        <div>
            <div>
                <label for="username">Enter Your Username</label>
            </div>
            <div>
                <input type="text" name="username">
            </div>
        </div>
        <div>
            <input type="submit" name="login" value="Login">
        </div>
    </form>
</div>